version: "2"

services:
  kafka-1:
    image: docker.io/apache/kafka-native:4.1.1
    ports:
      - '19092:19092'
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_HOST://0.0.0.0:19092,CONTROLLER://:9093
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
      KAFKA_KRAFT_CLUSTER_ID: abcdefghijklmnopqrstuv
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:9092,PLAINTEXT_HOST://172.28.0.1:19092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT

  kafka-2:
    image: docker.io/apache/kafka-native:4.1.1
    ports:
      - '29092:29092'
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_HOST://0.0.0.0:19092,CONTROLLER://:9093
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
      KAFKA_KRAFT_CLUSTER_ID: abcdefghijklmnopqrstuv
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:9092,PLAINTEXT_HOST://172.28.0.1:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT

  kafka-3:
    image: docker.io/apache/kafka-native:4.1.1
    ports:
      - '39092:39092'
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_HOST://0.0.0.0:19092,CONTROLLER://:9093
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
      KAFKA_KRAFT_CLUSTER_ID: abcdefghijklmnopqrstuv
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:9092,PLAINTEXT_HOST://172.28.0.1:39092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT

  kafka-connect-1:
    image: docker.io/apache/kafka:4.1.1
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
    ports:
      - '18083:8083'
    volumes:
      - $PWD/data/connect/connect-distributed-1.properties:/tmp/connect-distributed-1.properties
      - $PWD/data/connectors:/tmp/connectors
    command: /opt/kafka/bin/connect-distributed.sh /tmp/connect-distributed-1.properties

  kafka-connect-2:
    image: docker.io/apache/kafka:4.1.1
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
    ports:
      - '28083:8083'
    volumes:
      - $PWD/data/connect/connect-distributed-2.properties:/tmp/connect-distributed-2.properties
      - $PWD/data/connectors:/tmp/connectors
    command: /opt/kafka/bin/connect-distributed.sh /tmp/connect-distributed-2.properties

  redpanda-console:
    image: docker.io/redpandadata/console:v2.3.8
    ports:
      - '8080:8080'
    environment:
      KAFKA_BROKERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092"
      CONNECT_ENABLED: 'true'
      CONNECT_CLUSTERS_NAME: kafka-connect
      CONNECT_CLUSTERS_URL: http://kafka-connect-1:8083

networks:
  default:
    external:
      name: arangodb
